.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */
.list-item {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  /* margin-top: 15px;
  margin-bottom: 15px; */
}
.container {
  display: flex;
}
.name-container {
  display: flex;
  flex-direction: column;
}
.date-name {
  display: flex;
  flex-direction: row;
}
.name {
  font-size: 20px;
  color: black;
  margin-right: 20px;
}
.single-letter {
  font-size: 20px;
  color: #ffffff;
  /* background-color: #f59e0b; */
  border-radius: 20px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 5px;
  margin-right: 15px;
  margin-top: 25px;
}
.date-time {
  margin-top: 25px;
  font-size: 10px;
  color: #7e858e;
}
.comment {
  font-size: 13px;
}
.like-icon-container {
  display: flex;
}
.icon-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.like-icon {
  height: 20px;
  margin-top: 15px;
  margin-right: 20px;
}
.status {
  font-size: 12px;
}
.status-blue {
  color: #0ea5e9;
}
.delete-icon {
}
.delete-button {
  border-width: 0px;
  background-color: transparent;
}
